@import './style/pallete';

header {
  min-height: 10vh;
  background-color: $brand-color;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: $background-color;
  color: white;
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
