<app-loader [isShow]="isCalculating"></app-loader>

<div class="container">
  <div class="ex-group">
    <app-input-amount
      [amount]="currencyAmountBase"
      (output)="changeBase($event)">
    </app-input-amount>
    <div class="dropdown">
      <select (change)="selectBase($event)" [value]="currencyCodeBase">
        <option *ngFor="let option of symbols">{{ option }}</option>
      </select>
    </div>
  </div>

    <div class="ex-group">
      <app-input-amount
        [amount]="currencyAmountSecond"
        (output)="changeSecond($event)">
      </app-input-amount>
      <select (change)="selectSecond($event)" [value]="currencyCodeSecond">
        <option *ngFor="let option of symbols">{{ option }}</option>
      </select>
    </div>
</div>

